/* the reason why its not flex responsive by default is because i had to make the tex-container 900px manually to match the image width */
/* could put margin:0 to remove space around entire page */
/* holds all of the content for challenge: align text to image */
/* flex makes it responsive, and has img and text containers next to each other. To have them on top but also be flex, use flex-direction: column. The image will be centered because its container is flex center, but the text goes to the left because its width is only at 900 px, not the entire possible width of the page. add align-items center to actually center the text-container  */
#subject {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
/* center image */
#image-container {
    display: flex;
    justify-content: center;
}
/* width 900 to match image width; flex so cols are side by side*/
#text-container {
    display: flex;
    width: 900px;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
}
/* to shift middle and right columns */
#t-two, #t-three {
    padding-left: 8rem;
}

.text {
    display: flex;
    justify-content: center;
    /* outline: black 1px solid; */
}

.first-line {
    font-size: 2rem;
}

/* tablet responsive */
@media screen and (max-width: 899px) {
    #text-container {
        width: 100%;
    }
    #dragon {
        width: 100%;
    }
  }